<fieldset>
	<div class="row-fluid">
		<div class="span6">
			<%= f.label :name, "Answer" %>
			<%= f.text_field :name %>
		</div>
		<div class="span6">
			<%= f.label :value, "Value Associated" %>
			<%= f.text_field :value %>
		</div>
	</div>
	<%= f.hidden_field :_destroy %>
	<%= link_to "Remove Answer", '#', class: "btn btn-danger remove_fields" %>
	<hr>

</fieldset>