<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
  </div>

<%= f.fields_for :answers do |builder| %>
  <fieldset>
	<%= builder.label :name, "Answer" %><br />
	<%= builder.text_field :name %><br />
	<%= builder.label :value, "Value Associated" %><br />
	<%= builder.text_field :value %><br />
	<%= builder.check_box :_destroy %>
	<%= builder.label :_destroy, "Remove Answer" %><br />
  </fieldset>
<% end %>

<!-- Also here need to set up how to add a new answer -->

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
