<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

	<div class="row-fluid">
		<div class="span12">
			<div class="inputs">
				<%= f.input :name %>
			</div>
			<hr>
			<div>
				<%= f.fields_for :answers do |builder| %>
				  <%= render 'answer_fields', f: builder %>
				<% end %>
				<%= link_to_add_fields "Add Answer", f, :answers %>
			</div>
			
		</div>
	</div>

<hr>

	<div class="row-fluid">
		<div class="span4">
			<div class="actions">
				<%= button_tag(type: "submit", class: "btn btn-success btn-large") do %>
					    Create Question <i class="icon-share"></i>
				<% end %>
			</div>
		</div>
		<div class="span3">
			<%= link_to 'Exit Without Saving', @question, :class => "btn", method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>

<% end %>