<h1>Listing questions</h1>

<%= link_to '<i class="icon-plus"></i> New Question '.html_safe, new_question_path, :class => "btn btn-large btn-success pull-right" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Show Question</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.name %></td>
        <td><%= link_to 'Show', question, :class => "btn btn-small" %></td>
        <td><%= link_to 'Edit', edit_question_path(question), :class => "btn btn-small btn-info" %></td>
        <td><%= link_to 'Destroy', question, :class => "btn btn-small btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>