<%= simple_form_for(@quote) do |f| %>
  <%= f.error_notification %>
<% end %>

<div class="inputs">
</div>


<%= form_tag(quotes_path) do %>

	<fieldset>
		<% @questions.each do |question| %>
		<legend><%= question.name %></legend>
			<% question.answers.each do |answer| %>
				<label class="radio">
				  <%= radio_button_tag "quote[questions[#{question.id}]]", answer.id, :checked => @quote.answers.include?(answer) %>
				  <!-- When we edit go to edit, the radio button are not showing their current values!!!-->
				  <%=answer.name%>
				</label>
				<%= hidden_field_tag :user_id, current_user.id %>
			<% end %>
	</fieldset>
		<% end %>

<hr>

	<div class="actions">
		<%= button_tag(type: "submit", class: "btn btn-success btn-default") do %>
		    Submit Quote <i class="icon-arrow-right"></i>
		<% end %>
	</div>

<% end %>
