<%= simple_form_for(@quote) do |f| %>
  <%= f.error_notification %>
<% end %>

<div class="inputs">
</div>


<%= form_tag(quotes_path) do %>
		<ul>
		<% @questions.each do |question| %>
		    <li><%= question.name %></li>

		    <% question.answers.each do |answer| %>

          <%= radio_button_tag "quote[questions[#{question.id}]]", answer.id, :checked => @quote.answers.include?(answer) %>

          <label><%=answer.name%></label>
		    	<!-- When we edit go to edit, the radio button are not showing their current values!!!-->
		    	<br/>
		    	<%= hidden_field_tag :user_id, current_user.id %>
		    <% end %>

		<% end %>
		</ul>


  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
