<h1>Listing quotes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date Created</th>
      <th>Show Quote</th>
      <th>Edit Quote</th>
      <th>Delete Quote</th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.created_at.strftime("%b. %d %Y") %>

          <% if current_user.try(:admin?) %>
            <br><%= quote.user.email %>
          <% end %>

        </td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Delete', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
