<div class="page-header">
  <h1>Listing My Quotes <small>Click to Edit or Remove Quotes</small></h1>
</div>

<p class="lead">Here you can view all your previous quotes to edit or delete them.  Or click to add a new quote!</p>

<%= link_to '<i class="icon-plus"></i> New Quote '.html_safe, new_quote_path, :class => "btn btn-large btn-success pull-left" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date Created</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.created_at.strftime("%b. %d %Y") %>

          <% if current_user.try(:admin?) %>
            <p><span class="label label-important"><%= quote.user.email %></span></p>
          <% end %>

        </td>
        <td><%= link_to 'Show', quote, :class => "btn btn-small" %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote), :class => "btn btn-small btn-info" %></td>
        <td><%= link_to 'Delete', quote, :class => "btn btn-small btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>