<p id="notice"><%= notice %></p>


<ul>
<% @questions.each do |question| %>
    
    <li><%= question.name %></li>
    
    <!-- Here I need to include the choice for this question, and a link to the ed -->

    <%= link_to 'Edit', edit_quote_path(@quote, :anchor => "#{question.id}") %>

<% end %>
</ul>

<h1>TOTAL: <%=@total%></h1>


<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
