<p id="notice"><%= notice %></p>


<ul>
<% @quote.answers.each do |answer| %>
    
	<%= answer.question_id %>

    <li><%= answer.name %></li>

    <%= link_to 'Edit', edit_quote_path(@quote, :anchor => "#{answer.id}") %>

<% end %>
</ul>

<h1>TOTAL: <%=@total%></h1>


<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
