<p id="notice"><%= notice %></p>
<%= link_to 'Back', quotes_path, :class => "btn btn-inverse" %>

<div class="page-header">
  <h1>Quote From <%= @quote.created_at.strftime("%b. %d %Y") %></h1>
</div>

<p class="lead">To edit this quote click on the question you want to edit.</p>

<div class="alert alert-success">
	<h1>Quote Total: <strong>$<%=@total%></strong></h1>
</div>

<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Question</th>
      <th>Selection</th>
      <th>Value</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @quote.answers.each do |answer| %>
    <tr>
		
    <td><%= answer.question.name %></td>
		<!-- I can only get the question id to show here, but what I really need is the question name!  A question has many answers.  I think I need to create a lookup in the quotes controller but I'm not sure how to do this -->
		<td><%= answer.name %></td>
		<td><%= answer.value %></td>
		<td><%= link_to 'Edit', edit_quote_path(@quote, :anchor => "#{answer.id}"), :class => "btn btn-small btn-info" %></td>
	</tr>
	<% end %>

  </tbody>

</table>
