<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=1000">
    <title><%= content_for?(:title) ? yield(:title) : "reckloose Website Quote Portal" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- Size should be 32 x 32 pixels -->
    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
  </head>
  <body>

<ul class="cb-slideshow">
    <li><span>reckloose</span><div></div></li>
    <li><span>reckloose</span><div></div></li>
    <li><span>reckloose</span><div></div></li>
    <li><span>reckloose</span><div></div></li>
    <li><span>reckloose</span><div></div></li>
    <li><span>reckloose</span><div></div></li>
</ul>

<div class="full-wrapper">
<header id="header">
  <div class="container-fluid">
    <div class="logo">
     <%= link_to image_tag("logo.png", :alt => "reckloose Entertainment on Facebook"), '/' %>
    </div><!-- Nav -->

    <nav id="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/quotes/new">Create Quote</a></li>
        <% if user_signed_in? %>
          <li> <%= link_to 'Logout', destroy_user_session_path, :method => 'DELETE' %></li>
        <% else %>
          <li> <%= link_to 'SignUp', new_user_registration_path %></li>
          <li> <%= link_to 'Login', new_user_session_path %> </li>
        <% end %>
        <% if current_user.try(:admin?) %>
          <li><a href="/questions/">Questions</a></li>
        <% end %>




      </ul>
    </nav>
  </div><!--/.container-fluid -->
</header>

    <div class="container-fluid main">

      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li><%= link_to 'My Quotes', quotes_path %></li>
              <li><%= link_to 'Create Quote', new_quote_path %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
        <% if user_signed_in? %>
            <div class="well">Howdy, <strong><%= current_user.email %>!</strong></div>
        <% end %>
        
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

    </div> <!-- /container -->

<footer class="footer">
<div class="container-fluid">


    <div class="row-fluid bottom">
      <div class="span8 block">
            
            <p>Website &copy; reckloose Entertainment <%= Time.now.year %><br />
        Website Designed by <a href="http://reckloose.com">reckloose Entertainment</a></p>
        
      </div>
      
      <div class="span4 block">
       <ul class="social-icons">
            <li><%= link_to image_tag("facebook.png", :alt => "reckloose Entertainment on Facebook"), '#' %></li>
            <li><%= link_to image_tag("twitter.png", :alt => "reckloose Entertainment on Twitter"), '#' %></li>
            <li><%= link_to image_tag("google.png", :alt => "reckloose Entertainment on Google Places"), '#' %></li>
        </ul>
    </div>
      
    </div>
    
</div>
</footer>
</div><!-- full-wrapper -->

 <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

</body>
</html>

